body{
	background-color: #C8C8C7;
}

ul{
	list-style: none;
}

.overDest{
	overflow: hidden;
}

.social {
    border-style: solid;
    border-color: #435F24;
    margin-bottom: 10px;
}

.social:hover{
	background-color: #219069;
}